/* General Styling */
p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

h2 {
    font-variant: small-caps;
    background-color: #000;
    color: #fff;
    
}

/* Header Styling */
#header {
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    background-color: #0000ff;
    color: #ffc0cb;
}

/* Page Styling */


ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: square;
}

ul li:nth-child(3) {
    background-color: yellow;
}

ul li:nth-child(4) {
    background-color: red;
}

ul li:nth-child(5) {
    background-color: #0000ff;
}

.ingredients {
    background-color: #ffc0cb;
    display: inline;
}

.steps {
    background-color: #16fc16;
    display: inline;
}

ol {
    font-size: 18px;
}
