/* General Styling */

body {
    max-width: 600vh;
    margin: 0 auto;
    background-color: #565756;
}

/* Styling for header */
span {
    background-color: red;
    font-variant: small-caps;
}
#main {
    background-color: white;
    padding: 20px;
    margin: 50px;
}
/* The top property is needed for the sticky value to work, this property was removed */
.header {
    padding: 20px;
    margin: 20px;
    background-color: lightgreen;
    color: rgba(0, 0, 0, 0.471);
    font-size: 30px;
    text-align: center;
}


img {
    display: block;
    margin: auto;
}

/* Page Styling */
.dishes {
    font-family: Helvetica, "Times New Roman", "sans-serif"; 
}


/* Image Styling */
/* .recipe_images {
    width: 1400px;
    height: 800px;
}

    .avatar, .proportioned {
        width: 300px;
        height: 310px;
    }

 .proportioned {
    position: relative;
    right: 500px;
    top: 10px;
    }

     .distorted {
        width: 200px;
        height: 400px;
        position: relative;
        bottom: 300px;
        right: 200px;
    }

    .shells {
        position: relative;
        width: 300px;
        height: 400px;
        bottom: 700px;
        left: 100px;
    }

    .wings {
        position: relative;
        width: 300px;
        height: 310px;
        left: 450px;
        bottom: 1100px;
    }

    .hungry {
        border-radius: 40%;
    } */

    /* Using Flexbox for Images */
    .flex-container {
        display: flex;
        border: 2px solid #fff;
    }









/* Button Styling */
    button {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #000;  
    }
    
    .dishes, button {
        font-size: 28px;
        color: #fff;
        padding: 5px;
        margin-left: 10px;
    }

    .contact {
        display: inline-block;
    }
    
li {
    padding: 5px 0px;
}