
* {
    border: 1px solid black;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

body {
    width: 0 auto;
    margin: 0 auto;
}

header {
    text-align: center;
}

a {
    width: 275px;
}

.main_container {
    display:flex;
}

.img_muchines {

}

.abuelita {
    height: inherit;
    width: 0 auto;
}

.title {
    text-align: center;
}











/*div{
    color: white;
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: 700;
}

.odd_number {
    background-color: pink;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}

.second_element {
    color: blue;
    font-size: 36px;
}

.third_element {
    font-size: 24px;
}

.fourth_element {
    background-color: lightgreen;ß
    font-size: 24px;
    font-weight:  bold;
}*/

